.dog-bg{
    background-image:url("images/header-bg.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

body{
    font-family: 'Londrina Solid', cursive;
}

.card {
    border:none;
}